<header>
    <img class="img-perfil" src="assets/img/hernany.jpg" alt="Foto de perfil do Hernany Bastos" width="130px" height="130px" loading="eager"/>
    <h1>Hernany Bastos</h1>

    <aside>
        <div class="container">
            <p>Full-Stack Javascript | Typesript | Anguler | React | UX & UI Designer</p>
            <p>Apaixonado por tecnologia e por café ☕, cursando Análise e Desenvolvimento de Sistemas. Estou na área de Desenvolvimento de Software mais de 5 anos. 
                Devido isso resolvi abraçar a stack JS pois atua no Frontend / Backend</p>

                <nav>
                    <ul>
                        <li>
                            <a href="src/assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download Currículo</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/hernany-bastos-3904bb293/" target="_blank" class="btn btn-secondary">LinkdIn</a>
                        </li>
                    </ul>
                </nav>

                <section>
                    <figure>
                        <img src="assets/icons/whatsapp.svg" alt="Icone para o contato do Whatsapp" width="22px" height="24px" />
                        <figcaption>
                            <a href="#" target="_blank"><strong>Envie uma menssagem para: </strong><p>Whatsapp: (16) 99371-6061</p></a>
                        </figcaption>
                    </figure>

                    <figure>
                        <img src="assets/icons/mail.svg" alt="Icone para o contato do Whatsapp" width="22px" height="24px" />
                        <figcaption>
                            <a href="mailto:hernanybastosfig@gmail.com" target="_blank"><strong>Envie um e-mail para: </strong><p>hernanybastosfig&#64;gmail.com</p></a>
                        </figcaption>
                    </figure>
                </section>
        </div>
    </aside>
</header>
